
rpc-task/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
rpc-task/target/m2e-wtp/web-resources/META-INF/maven/com.xw.rpc/rpc-task/pom.properties
rpc-task/target/m2e-wtp/web-resources/META-INF/maven/com.xw.rpc/rpc-task/pom.xml
