<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:rpcCommon="http://rpc.com/schema/rpcCommon"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans    
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd    
                        http://www.springframework.org/schema/context    
                        http://www.springframework.org/schema/context/spring-context-3.1.xsd    
                        http://www.springframework.org/schema/mvc    
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
                        http://rpc.com/schema/rpcCommon
    					http://rpc.com/schema/rpcCommon/rpcCommon.xsd">  

     <!-- 自动扫描 -->  
    <context:component-scan base-package="com.xw" />
    
     <!-- <bean id="taskDataService"  class="org.springframework.remoting.caucho.HessianProxyFactoryBean">  
		<property name="serviceInterface" value ="com.xw.server.TaskDataService"/>  
        <property name="serviceUrl" value="http://localhost:8080/rpc-server/hessian/taskDataService"/>  
    </bean>-->
    
    <bean class="com.xw.init.TaskInitComponent" />
    
    <rpcCommon:rpcCommonClient id="taskDataService" interfaceClass="com.xw.server.TaskDataService" 
    		url="http://192.168.0.73:8080/rpc-server/;http://192.168.0.25:8080/rpc-server/"/>
    
</beans>  